.body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 21px;
}

/* start-banner-section */

.container {
    /* position: absolute; */
    width: 1321px;
    height: 486px;
    /* left: 100px;
    top: 50px; */
}

/* .top-banners {
    /* display: flex; */
/* background-color: rgba(223, 210, 155, 0.74);
    padding: 10px 50px; */
/* margin-right: 100px;
    margin-left: 100px; */
/* margin: 20px 100px;
    border-radius: 20px; */


.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-color: rgba(223, 210, 155, 0.74);
    padding: 10px 50px;
    margin: 20px 100px;
    border-radius: 5px;

}

.banner-text {
    align-items: center;
}

.banner-heading {
    font-weight: 700;
    font-size: 70px
}

.banner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.button {
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 45px;

}

.banner-image {
    align-items: center;
}

/* end-banner-section */

/* blog-section-start */
.button-match {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 100px;
}

.link-button {
    position: relative;
    height: 250px;
    background-color: rgba(223, 210, 155, 0.74);
    border-radius: 10px;
}

.button-group {
    display: inline-grid;
    grid-row-gap: 20px;
    width: 181px;
    height: 150px;
    left: 170px;
    /* top: 846px; */
    margin: 54px;
    /* border-radius: 2px solid yellow;
    width: 175px;
    margin-top: 20px 10px;
    padding: 10px 10px; */
}

.button-btn {
    border-radius: 5px;
    padding-top: 10px;
}

.button-btn a {
    text-decoration: none;
    /* border-radius: 2px solid yellow; */
}

.btn {
    background-color: red;
    border-radius: 5px;
    padding-top: 10px;
}

.btn a {
    text-decoration: none;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 13px;
    /* justify-items: stretch; */
    justify-content: space-evenly;
    /* align-content: stretch; */
    grid-column-gap: 13px;

}

.blog {
    width: 264px;
    height: 410px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 30px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: blueviolet;
}

.blog img {
    width: 264px;
    height: 193px;
    margin-top: 1px;
    border-radius: 5px;
}

.blog-info {
    margin-left: 16px;
}

.blog-button {
    border-radius: 5px;
}

.blog-title {
    font-size: 20px;
}

.blog-author a {
    text-decoration: none;
    font: 16px;
    color: black;
}

.blog-icon {
    font-size: 12px;
    color: black;
    text-align: left;
    padding: 0 10px;
}

.blog-icon i {
    padding-right: 25px;
}

/* end-blog-section */

/* footer section start */
.footer {
    background-color: rgba(223, 210, 155, 0.74);
    height: 200px;
    margin-top: 500px;
}

.footer-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

hr {
    color: black;
}

.footer-menu {
    padding: 0 10px;
}

.footer-menu a {
    padding: 0 45px;
    font-size: 20pxpx;
    text-decoration: none;
}


/* end of footer section */



/* upcoming-match-style */

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 13px;
    /* justify-items: stretch; */
    justify-content: space-evenly;
    /* align-content: stretch; */
    grid-column-gap: 13px;
}

.match {
    width: 264px;
    height: 295px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 30px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: blueviolet;

}

.head-four {
    color: aliceblue;
}

.thumbnail {
    display: flex;
}

.match .thumbnail img {
    width: 122px;
    height: 60px;
    margin-top: 1px;
    border-radius: 5px;
}

.match-info {
    text-align: center;
}

.match-icon {
    text-align: center;
    font-size: 12px;
    color: white;

}

/* match-footer */
.match-footer {
    background-color: rgba(223, 210, 155, 0.74);
    height: 200px;
    margin-top: 170px;
}









/* end of upcoming match style */



/* responsive media query */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .banner,
    .blogs,
    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 275px;
        margin: 20px 50px;

    }

    .banner-text {
        text-align: center;
        font-size: 40px;
        padding: 0 50px;
        flex-direction: column;
    }

    .button-match {
        flex-direction: column;
        align-items: center;
        margin-top: 700px;
        column-gap: 20px;
    }

    .link-button {
        background-color: white;
    }

    .footer {
        margin-top: 3034px;
        height: 350px;
        flex-direction: column;
        /* padding: 0 50px; */
    }

    .footer-menu a {
        padding: 0 150px;
        color: black;
        font-weight: 700;
        display: grid;
        justify-items: center;
    }

    .match-footer {
        margin-top: 2342px;
        height: 350px;
        flex-direction: column;
    }


}